/* General Body Styles */
body {
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    background-image: url(images/form-pattern.png);
}

/* Card Styles */
.card {
    width: 70%;
    height: fit-content;
    padding: 1em;
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14vh;
    margin-bottom: auto;
}

/* Text Content Styles */
.text-content {
    font-weight: 500;
    line-height: 1.5;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2.6vw;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

/* Head Text Case Styles */
.head-text-case, .head-text-case1, .head-text-case2, .head-text-case3 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
}

/* Body Text Case Styles */
.body-text-case, .body-text-case1, .body-text-case2, .body-text-case3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: calc(0.3em + 0.7vw);
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Image Styles */
.images {
    position: relative;
    width: 500px;
    height: calc(800px + 5vw);
    left: 30%;
    transform-origin: center center;
    animation: expandAndSlide 4s ease forwards, fadeInOut 6s ease-in-out infinite;
    border-radius: 30px;
    filter: brightness(110%) saturate(120%);
}

/* Button Styles within Card */
.card button {
    width: 300px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
    background-color: aquamarine;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'DM Sans',sans-serif;
    font-weight: bold;
}

/* Dish Image Styles */
.dish-images {
    display: none; /* Initially hidden */
}

.dish-images img {
    width: 100%; /* Full width of the container */
    height: auto;
    cursor: pointer;
    transition: transform 0.5s ease;
}

/* Carousel Pagination Styles */
.carousel-pagination {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.carousel-dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot {
    background-color: white;
}

/* Highlight Text Styles */
.highlight-text {
    color: #f0f0f0; /* Slightly below white color */
    font-weight: bold; /* Make it bolder */
}

/* Keyframes for Animations */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8; 
    }
}

@keyframes expandAndSlide {
    0% {
        width: 500px;
        height: calc(800px + 4vw);
        left: 30%;
        transform: scale(0.01);
    }
    50% {
        width: 500px;
        height: calc(800px + 4vw);
        left: 30%;
        transform: scale(1);
    }
    100% {
        width: 500px;
        height: calc(800px + 4vw);
        left: 0;
        transform: scale(1);
    }
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .card {
        width: 90%;
        margin: 10vh auto;
    }

    .text-content {
        font-size: 16px;
    }

    .head-text-case, .head-text-case1, .head-text-case2, .head-text-case3 {
        font-size: 24px;
    }

    .body-text-case, .body-text-case1, .body-text-case2, .body-text-case3 {
        font-size: 11px;
    }
}

@media screen and (max-width: 1300px) {
    .card {
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }

    .images {
        width: 100%;
        height: 500px;
        left: 0;
        transform-origin: center center;
        animation: expandAndMoveUp 4s ease forwards, fadeInOut 6s ease-in-out infinite;
    }
}

@keyframes expandAndMoveUp {
    0% {
        transform: scale(0.01);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
