/* Main Menu Styles */
.Menu {
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(/images/form-pattern.png);
}

/* Container for Menu Items */
.Menu-container {
    color: white;
    margin-left: 40px;
    margin-top: 60px;
    overflow-x: hidden;
}

.Menu-container h1 {
    letter-spacing: 2px;
}

/* Styles for 'Dish of the Day' Section */
.text button {
    size: 30%;
    color: hsl(38, 61%, 73%);
    margin-top: 40px;
    width: 40%;
    height: calc(20px + 2vw);
    background-color: transparent;
    border: 3px solid hsl(38, 61%, 73%);
    letter-spacing: 1px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.text button:hover {
    color: black;
    background-color: hsl(38, 61%, 73%);
}

.dishoftheday {
    width: 45vw;
    height: calc(540px + 6vw);
    padding-left: 50px;
}

.dotd {
    display: flex;
}

#special {
    color: hsl(38, 61%, 73%);
    font-size: 14px;
    font-family: 'DM-Sans';
    letter-spacing: 2px;
    margin-bottom: -25px;
    padding-top: 100px;
}

.dotd .text {
    padding-left: calc(25px + 4.3vw);
    width: 40%;
    height: 500px;
}

.dotd .text h1 {
    font-size: 50px;
}
.dotd .text p {
    font-size: calc(15px + 0.1vw);
    letter-spacing: 1px;
    font-family: 'DM-Sans', sans-serif;
}

/* Menu Decoration Styles */
#Menu-Deco {
    margin-left: calc(100vw - 360px);
    left: 75.5%;
    width: 360px;
    height: 360px;
    z-index: -1;
    opacity: 0.6;
    background-image: url(/images/shape-9.png);
}


#Menu-Logo {
    margin-top: -200px;
    margin-left: calc(10px + 5vw);
}

#Menu-Name {
    color: hsl(38, 61%, 73%);
    font-size: 40px;
    font-family: 'DM-Sans';
    letter-spacing: 2px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* Menu Selector Styles */
#menu-selector-holder {
    padding: 10px;
    background-color: transparent;
    border-bottom: 3px solid #ddd;
    margin-top: 100px;
    z-index: 1000;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.menu-selector, .separator {
    font-size: calc(0px + 3vw);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
    margin: 0 10px;
}

.separator {
    cursor: default;
}

.menu-selector.selected {
    color: gold;
}

/* Content Styles */
#content {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* Item Group Styles */
.item-group {
    display: flex;
    gap: calc(30px + 5vw);
    justify-content: center;
    margin-bottom: -20px;
}

.item {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    width: calc(300px + 19vw);
    padding-top: 50px;
}

.separator2 {
    height: 500px;
    border: 1px solid white;
    background-color: white;
    margin-top: -150px;
}

/* Text Content Styles */
.text-contents {
    font-family: 'DM Sans', sans-serif;
    padding-left: calc(5px + 2vw);
    margin-top: -20px;
    line-height: 1.2;
    width: 55%;
}

.text-contents h3 {
    font-size: calc(6px + 1vw);
    font-weight: 400;
    margin-bottom: 0px;
}

.text-contents p {
    font-size: calc(6px + 0.527vw);
    margin-top: 10px;
    margin-bottom: 30px;
    color: #C1C1C1;
}

/* Styles for Images in Menu Items */
.item img {
    width: calc(30px + 6.3vw);
    border-radius: 20px;
}

/* Name and Price Styles */
.name-and-price {
    display: flex;
    align-items: center;
}

.price-line {
    margin-top: 27px;
    margin-left: 10px;
    white-space: nowrap;
    position: relative;
    flex-grow: 0.8;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: hsl(38, 67%, 57%);
}

.price-line::before {
    content: '';
    flex-grow: 1;
    width: 10px;
    height: 5px;
    border: 2px solid #C1C1C1;
    background-color: transparent;
    margin-right: 10px;
}

/* Extension Styles */
#extension {
    position: absolute;
    bottom: -100;
    width: 100%;
    height: 100px;
    z-index: 1;
}




/* Media Queries */
@media screen and (max-width: 576px) {
    .Menu-container {
        margin-left: 20px;
    }

    .dishoftheday {
        width: 80vw;
        height: 60vw;
        padding-left: 10px;
    }

    .dotd {
        display: block;
    }

    .dotd .text {
        padding-left: 20px;
        width: 92%;
        margin-top: -80px;
    }

    .dotd .text h1 {
        font-size: 30px;
    }

    #Menu-Deco {
        margin-left: calc(60vw - 50px);
        size: auto;
        margin-top: 100px;
        padding-top: -50px;
    }

    #Menu-Logo {
        margin-top: -200px;
        margin-left: 0px;
    }

    #Menu-Name {
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
    }

    #content {
        width: 100%;
        min-height: min-content;
    }

    .item-group {
        display: block;
        margin-bottom: 0;
    }

    .item {
        width: 100%;
        height: auto;
    }

    .item img {
        width: 90px;
    }

    .text-contents {
        width: 300px;
        padding: 15px;
    }

    .text-contents h3 {
        font-size: 15px;
        padding-top: 25px;
    }

    .text-contents p {
        font-size: calc(5px + 0.9vw);
    }

    .separator2 {
        display: none;
    }

    #menu-selector-holder {
        position: relative;
        margin-bottom: 0;
        margin-top: 0;
    }

    .price-line {
        margin-top: 40px;
    }

    #special {
        padding-bottom: 15px;
        font-size: 10px;
    }

    .text button {
        width: 50%;
        height: 60px;
    }

    .dotd .text p {
        font-size: 13px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 576.1px) and (max-width: 768px) {
    
    .dotd {
        display: block;
    }

    .Menu-container {
        margin-left: 20px;
    }

    .dishoftheday {
        width: 87vw;
        height: 60vw;
        padding-left: 10px;
    }

    .dotd .text {
        margin-top: -80px;
        padding-left: 20px;
        width: 90%;
    }

    #special {
        padding-bottom: 10px;
    }

    .dotd .text h1 {
        font-size: 30px;
    }

    #Menu-Deco {
        margin-left: calc(100vw - 300px);
        width: 300px;
        height: 300px;
        margin-top: 100px;
        opacity: 0;
    }

    #Menu-Name {
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
    }

    .item {
        width: calc(280px + 15vw);
    }

    .text-contents h3 {
        font-size: 15px;
    }

    .item-group {
        height: 200px;
        gap: 20px;
    }

    .text-contents p {
        font-size: calc(5px + 0.8vw);
    }

    .dotd .text p {
        font-size: 13px;
        letter-spacing: 1px;
    }

    .item img {
        width: 80px;
        height: 100px;
        padding-bottom: 40px;
    }

    .text button {
        width: 50%;
        height: 60px;
    }
    
    .Menu-Logo {
        margin-left: 0px;
    }
    
    .price-line {
        margin-top: 15px;
    }
    
}