.logo {
    width: 200px;
    height: auto;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-left: 2%;
}

/* Header Styling */
header {
    margin-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
}

/* Icon Styling */
.icon, .icons {
    background: none;
    width: 20px;
    height: 20px;
    padding-right: 0.01%;
    padding-left: 20px;
    flex-shrink: 0;
    filter: invert(100%);
}

.navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: end;
    margin: 0 2%;
}

/* Navigation Link Styling */
.navigation a {
    margin-left: 2%;
    font-size: calc((3rem + 6.7vw) / 8.85);
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
}
.Login-Signup{
    flex-shrink: 0;
    margin-left: 0%;
    width: 200px;
    height: 60px;
    background: hsl(38, 61%, 73%);
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    margin-right: 2%;
    z-index: 2;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: calc(10px + 0.3vw);
    letter-spacing: 1px;
}

.navigation a {
    margin-left: 2%;
    font-size: calc((6rem + 4vw) / 8.85);
    color: white; /* Default color */
    text-decoration: none;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    position: relative; /* Added for positioning the ::after pseudo-element */
    z-index: 10;
}

/* Active Navigation Link Styling */
.navigation a.active {
    color: hsl(38, 61%, 73%); /* Active link color */
}

.navigation a.active::after, .navigation a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 100%;
    height: 2px;
    background-color: hsl(38, 61%, 73%);
    box-shadow: 0 3px hsl(38, 61%, 73%);
}

/* Hover Styling for Non-active Links */
.navigation a:not(.active):hover {
    color: hsla(38, 61%, 73%, 0.737); /* Hover color for non-active links */
    
}

/* Reset the ::after pseudo-element for non-active links */
.navigation a:not(.active)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 0; /* Initially no width */
    height: 2px;
    background-color: hsl(38, 61%, 73%, 0);
    box-shadow: 0 3px hsl(38, 61%, 73%, 0);
    transition: width 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

/* Hover effect for the underline on non-active links */
.navigation a:not(.active):hover::after {
    width: 100%; /* Full width on hover */
    background-color: hsl(38, 61%, 73%, 0.737);
    box-shadow: 0 3px hsl(38, 61%, 73%, 0.737);
}

.menu-selector.active {
    color: hsl(38, 67%, 57%)
}

.hamburger-menu, .close-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;

    
    z-index: 1001;
}
.Login-Signup-menu {
    display: none; 
}

/*-- styles for the visit Us section in the Hamburg Nav --*/

.visit-us {
    display: none; 
    color: white;
    margin-left: 40px;
    margin-top: 50px;
    font-weight:lighter;
    width: 100%;
}

.visit-us h3{
    font-size: 30px;
    margin-bottom: 0px;
    text-decoration: underline;
    padding-left: auto;

}

.visit-us p{
    font-size: 14px;
    font-family: 'DM-Sans', sans-serif;
    color: rgb(189, 189, 189);
    text-decoration: none;
    
}
#aaa{
    padding-bottom: 20px;
}

.navigation .visit-us a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'DM-Sans', sans-serif;
    color: rgb(189, 189, 189);
    border: transparent;
    text-decoration: none !important;
    color: inherit; 
}




.user-pfp{
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Make it circular */
    display: none; /* Initially hidden */
    margin-right: 30px;
}
.user-pfp-menu {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Make it circular */
    display: none !important; /* Initially hidden */
    margin-left: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
    
    .visit-us {
        display: block;
    }
    .Login-Signup {
        display: none;
    }
    .hamburger-menu {
        display: block; /* Show hamburger menu */
    }

    .navigation {
        position: fixed;
        top: 0;
        left: -100%; /* Start off-screen */
        width: 60%;
        height: 100vh;
        background: black;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: left 0.3s;
        justify-content: start;
        padding-top: 20px;
        z-index: 1000;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 50px;
        right: 30px;
        z-index: 1002;
    }
    .navigation a.active {
        color: hsl(38, 73%, 59%);
        font-weight: bolder; 
    }
    .logo-in-menu {
        display: block;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        width: 50%; 
        margin-bottom: 80px;
        z-index: 1000;
    }

    .navigation a {
        padding: 10px 20px;
        margin: 5px 0;
        display: block;
        color: white;
        text-align: left;
        width: 70%;
        font-family: 'DM-Sans', sans-serif;
        letter-spacing: 2px;
    }
    .navigation a.active::after, .navigation a:hover::after {
        content: '';
        position: absolute;
        left: 18px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: hsl(38, 61%, 73%);
        box-shadow: 0 3px transparent;
    }
    
  
    .navigation a:not(.active):hover {
        color: hsla(38, 61%, 73%, 0.737); 
        
    }
    
    
    .navigation a:not(.active)::after {
        content: '';
        position: absolute;
        left: 18px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: hsl(38, 61%, 73%);
        box-shadow: 0 3px transparent;
    }
    
    /* Hover effect for the underline on non-active links */
    .navigation a:not(.active):hover::after {
        
        box-shadow: 0 3px transparent;
    }
    
    .navigation .Login-Signup-menu {
        display: block; /* Show the button inside the menu */
    }
    .navigation .Login-Signup-menu {
        display: block; /* Show the button inside the menu */
        margin-top: 30px;
        margin-left: 30px;
        width: 80%;
        height: 60px;
        background: transparent;
        border: 3px solid hsl(38, 61%, 73%);
        cursor: pointer;
        font-size: 1.1em;
        color: hsl(38, 61%, 73%);
        margin-right: 2%;
        z-index: 2;
        font-family: 'DM-Sans', sans-serif;
        font-weight:400;
        font-size: calc(15px + 0.3vw);
        transition: 0.3s ease-in;
        z-index: 1000;
    }

    .navigation .Login-Signup-menu:hover {
        display: block; /* Show the button inside the menu */
        margin-top: 30px;
        margin-left: 30px;
        width: 80%;
        height: 60px;
        background: hsl(38, 61%, 73%);
        cursor: pointer;
        font-size: 1.1em;
        color: black;
        margin-right: 2%;
        z-index: 2;
        font-family: 'DM-Sans', sans-serif;
        font-weight:400;
        font-size: calc(15px + 0.3vw);
        z-index: 1000;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1002;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 50%;
    }


    .navigation .visit-us a {
        margin-left: 9;
        padding-left: 0;
        padding-bottom: 0;
        text-decoration: none;
        font-size: 14px;
        font-family: 'DM-Sans', sans-serif;
        color: lightcyan;
        border: transparent;
        text-decoration: none !important;
        
    }
    .navigation .visit-us a.active::after, .navigation .visit-us a:hover::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 0px;
        background-color: transparent;
        box-shadow: 0 3px transparent;
    }
    .navigation .visit-us a:not(.active):hover {
        color: rgb(189, 189, 189); /* Hover color for non-active links */
        
    }
    
    /* Reset the ::after pseudo-element for non-active links */
    .navigation a:not(.active)::after {
        content: '';
        
        
        
        width: 100%;
        
        background-color: transparent;
        box-shadow: 0  transparent;
    }

    .navigation{
        overflow-y: auto;
    }

    .no-scroll{
        overflow: hidden;
    }

    .Login-Signup {
        display: none; /* Always hide the main button on small screens */
    }

    .Login-Signup-menu.hidden {
        display: none !important; /* Hide when user is logged in */
    }

    .Login-Signup-menu:not(.hidden) {
        display: block; /* Show when user is not logged in */
    }

    .user-pfp.visible {
        /* Style for visible profile picture */
        display: block;
        width: 50px; /* Example size */
        height: 50px;
        border-radius: 50%;
    }

    .user-pfp:not(.visible) {
        display: none; /* Hide when user is not logged in */
    }

    .user-pfp {
        display: none !important;
    }
    .user-pfp-menu {
        display: block !important; /* Change to your desired display style */
    }
}


@media screen and (min-width: 576.1px) and (max-width: 768px) {
    .visit-us {
        display: block; /* Display when the menu is open */
      
    }
    .Login-Signup {
        display: none;
    }
    .hamburger-menu {
        display: block; /* Show hamburger menu */
    }

    .navigation {
        position: fixed;
        top: 0;
        left: -100%; /* Start off-screen */
        width: 60%;
        height: 100vh;
        background: black;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: left 0.3s;
        justify-content: start;
        z-index: 1000;
        padding-top: 20px;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1002;
        background-color: transparent;
        color: white;
        border: transparent;
    }

    .navigation a.active {
        color: hsl(38, 73%, 59%);
        font-weight: bolder; /* Active link color */
    }
    
    .logo-in-menu {
        display: block;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto; /* Adjust as needed */
        width: 50%; 
        margin-bottom: 80px;/* Adjust size as needed */
    }

    .navigation a {
        padding: 10px 20px;
        margin: 5px 0;
        padding-left: 27px;
        display: block;
        color: white;
        text-align: left;
        width: 70%;
        font-family: 'DM-Sans', sans-serif;
        letter-spacing: 2px;
    }
    .navigation a.active::after, .navigation a:hover::after {
        content: '';
        position: absolute;
        left: 28px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: hsl(38, 61%, 73%);
        box-shadow: 0 3px transparent;
    }
    
    /* Hover Styling for Non-active Links */
    .navigation a:not(.active):hover {
        color: hsla(38, 61%, 73%, 0.737); /* Hover color for non-active links */
        
    }
    
    /* Reset the ::after pseudo-element for non-active links */
    .navigation a:not(.active)::after {
        content: '';
        position: absolute;
        left: 28px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: hsl(38, 61%, 73%);
        box-shadow: 0 3px transparent;
    }
    
    /* Hover effect for the underline on non-active links */
    .navigation a:not(.active):hover::after {
        
        box-shadow: 0 3px transparent;
    }
    .navigation .Login-Signup-menu {
        display: block; /* Show the button inside the menu */
        margin-top: 30px;
        margin-left: 30px;
        width: 80%;
        height: 60px;
        background: transparent;
        border: 3px solid hsl(38, 61%, 73%);
        cursor: pointer;
        font-size: 1.1em;
        color: hsl(38, 61%, 73%);
        margin-right: 2%;
        z-index: 2;
        font-family: 'DM-Sans', sans-serif;
        font-weight:400;
        font-size: calc(15px + 0.3vw);
        transition: 0.3s ease-in;
        z-index: 1000;
    }

    .navigation .Login-Signup-menu:hover {
        display: block; /* Show the button inside the menu */
        margin-top: 30px;
        margin-left: 30px;
        width: 80%;
        height: 60px;
        background: hsl(38, 61%, 73%);
        cursor: pointer;
        font-size: 1.1em;
        color: black;
        margin-right: 2%;
        z-index: 2;
        font-family: 'DM-Sans', sans-serif;
        font-weight:400;
        font-size: calc(15px + 0.3vw);
        z-index: 1000;
    }
    .navigation .visit-us a {
   
        font-size: 14px;
        font-family: 'DM-Sans', sans-serif;
        color: rgb(189, 189, 189);
        border: transparent;
        text-decoration: none !important;
        width: 100%;
        
    
        
        
    }

    .navigation .visit-us a {
        padding: 0;
        margin: 0;
        padding-left: 0px;
        margin-top: 30px;
        color: lightcyan;
        
        text-align: left;
       
        font-family: 'DM-Sans', sans-serif;
        letter-spacing: 0px;
    }
    .navigation .visit-us a.active::after, .navigation .visit-us a:hover::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 0px;
        background-color: transparent;
        box-shadow: 0 3px transparent;
    }
    
    .navigation .visit-us a:not(.active):hover {
        color: rgb(189, 189, 189); /* Hover color for non-active links */
        
    }
    
    /* Reset the ::after pseudo-element for non-active links */
    .navigation a:not(.active)::after {
        content: '';
        
        
        
        width: 100%;
        
        background-color: transparent;
        box-shadow: 0  transparent;
    }

    .navigation{
        overflow-y: auto;
    }

    .no-scroll{
        overflow: hidden;
    }
    .Login-Signup {
        display: none; /* Always hide the main button on small screens */
    }

    .Login-Signup-menu.hidden {
        display: none !important; /* Hide when user is logged in */
    }

    .Login-Signup-menu:not(.hidden) {
        display: block; /* Show when user is not logged in */
    }

    .user-pfp.visible {
        /* Style for visible profile picture */
        display: block;
        width: 50px; /* Example size */
        height: 50px;
        border-radius: 50%;
    }

    .user-pfp:not(.visible) {
        display: none; /* Hide when user is not logged in */
    }


    .user-pfp {
        display: none !important;
    }
    
}



