
/* Slider Section: Full-screen background image slider styling */



#slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    opacity: 0.9;
}

/* Image Styling: Default styles for slider images, initially hidden */
.image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -100;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Added transition for zoom and fade */
}

/* Text Overlay: Styles for text displayed over the slider */
#text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

/* Text Content Alignment */
.text-content {
    text-align: center;
}

/* Text Visibility: Controls visibility of different text layers */
.upper-text, .lower-text, .lowest-text, .highest {
    display: none;
    margin: 0;

}

/* Active Text Display: Shows text elements when they are active */
.active .upper-text, .active .lower-text, .active .lowest-text, .active .highest {
    display: block;
}

.highest {
    font-family: 'Forum', cursive;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.4em;
    color: hsl(38, 61%, 73%); /* Gold Crayola */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.upper-text, .lower-text {
    font-family: 'Forum', cursive;
    color: hsla(0, 0%, 100%, 1); /* White */
}
.upper-text {
    font-size: calc(1.3rem + 6.7vw);
    margin-bottom: 0;
}
/* Specific Text Styling for lower and lowest text layers */
.lower-text {
    font-size: calc(1.3rem + 6.7vw);
    margin-top: -20px;
}


/* Active Paragraph Styling: Shows only the active paragraph */
#text p.active {
    display: block;
}
.image.active {
    display: block;
}

#reservation-button {
    font-family: DM-Sans;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block; 
    padding: 10px 20px;
    margin-top: 20px; 
    background-color: transparent; 
    color: hsl(38, 70%, 81%); 
    border: solid;
    border-color: hsl(38, 61%, 73%);
    border-width: 1px;
    cursor: pointer;
    font-size: 1.2em;
    width: 30%;
    height: 10%;
    z-index: 2;
    transition: 0.4s ease-in;
    font-size: 25px;
}

#reservation-button:hover{
  color: black;
  background-color: hsl(38, 61%, 73%);
}

/* Diamond Buttons: Styling for diamond-shaped navigation buttons */
.diamond-button1, .diamond-button2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background-color: rgba(240, 240, 240, 0.7);
    border: solid 1px rgba(240, 240, 240, 0.7);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10; 
    transition: background-color 0.3s ease;
}
#prev { left: 2%; }
#next { right: 2%; }

.diamond-button1 i{
    color: hsl(38, 67%, 57%);
    font-size: 20px;
    padding-right: 2px;
    transition: background-color 0.3s ease;
}
.diamond-button2 i {
    color: hsl(38, 67%, 57%);
    font-size: 20px;
    z-index: 1;
    transition: background-color 0.3s ease;
}


.diamond-button1:hover, .diamond-button2:hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background-color: rgb(228, 197, 144);
    border: solid 1px rgb(228, 197, 144);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10; 
    
}

.diamond-button1:hover i,
.diamond-button2:hover i {
    color: black;
    font-size: 20px;
}

.image {
    
    transition: transform 2s ease-in-out, opacity 1s ease-in-out; 
}

.image.zooming {
    transform: scale(1.1); 
}






/* Body Styling */
body {
    background-color: white;
}

/* Logo Styling */
.logo {
    width: 200px;
    height: auto;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-left: 2%;
}

/* Header Styling */
header {
    margin-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
}

/* Icon Styling */
.icon, .icons {
    background: none;
    width: 20px;
    height: 20px;
    padding-right: 0.01%;
    padding-left: 20px;
    flex-shrink: 0;
    filter: invert(100%);
}

/* Navigation Bar Styling */
.navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: end;
    margin: 0 2%;
}

/* Navigation Link Styling */
.navigation a {
    margin-left: 2%;
    font-size: calc((3rem + 6.7vw) / 8.85);
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
}
.button-Login {
    flex-shrink: 0;
    margin-left: 0%;
    width: 200px;
    height: 60px;
    background: hsl(38, 61%, 73%);
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    margin-right: 2%;
    z-index: 2;
    font-family: 'DM-Sans';
    font-weight:400;
    font-size: calc(10px + 0.3vw);
}
/* Top Bar Styling */
.top {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between groups */
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px; /* Added right padding */
}

/* Group Styling */
.top-group, .top-group2 {
    display: flex;
    align-items: center;
    gap: 1.57894vw;
    
}

/* Top Bar Item Styling */
.top .topbar-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Top Bar Link Styling */
.top a {
    color: aliceblue;
    text-decoration: none;
    font-size: calc((2.5rem + 5.31vw) / 8.85);
    padding-top: 2px;
}

/* Diamond Separator Styling */
.diamond-separator {
    width: 8px;
    height: 8px;
    background-color: black;
    border: 2px solid hsl(38, 61%, 73%);
    transform: rotate(45deg);
    margin: 0 10px;
}

/* General Navigation Link Styling */
.navigation a {
    margin-left: 2%;
    font-size: calc((6rem + 4vw) / 8.85);
    color: white; /* Default color */
    text-decoration: none;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    position: relative; /* Added for positioning the ::after pseudo-element */
    z-index: 10;
}

/* Active Navigation Link Styling */
.navigation a.active {
    color: hsl(38, 61%, 73%); /* Active link color */
}

.navigation a.active::after, .navigation a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 100%;
    height: 2px;
    background-color: hsl(38, 61%, 73%);
    box-shadow: 0 3px hsl(38, 61%, 73%);
}

/* Hover Styling for Non-active Links */
.navigation a:not(.active):hover {
    color: hsla(38, 61%, 73%, 0.737); /* Hover color for non-active links */
    
}

/* Reset the ::after pseudo-element for non-active links */
.navigation a:not(.active)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 0; /* Initially no width */
    height: 2px;
    background-color: hsl(38, 61%, 73%, 0);
    box-shadow: 0 3px hsl(38, 61%, 73%, 0);
    transition: width 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

/* Hover effect for the underline on non-active links */
.navigation a:not(.active):hover::after {
    width: 100%; /* Full width on hover */
    background-color: hsl(38, 61%, 73%, 0.737);
    box-shadow: 0 3px hsl(38, 61%, 73%, 0.737);
}


/* After this is the CSS Styling for Menu.html */

.Menu{
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(images/form-pattern.png);
   
}

.Menu-container
{
    color: white;
    margin-left: 40px;
    margin-top: 60px;
    overflow-x: hidden;

}

.Menu-container h1{
    
    letter-spacing: 2px;
}

.dishoftheday{
    width: 45vw;
    height: calc(540px + 6vw);
    padding-left: 50px;
}

.dotd{
    display: flex;
}

#special{
    color: hsl(38, 61%, 73%);
    font-size: 14px;
    font-family: 'DM-Sans';
    letter-spacing: 2px; 
    margin-bottom: -25px;
    padding-top: 100px;
}

.dotd .text{
    padding-left: calc(25px + 4.3vw);
    width: 40%;
}

.dotd .text h1{
    font-size: 50px;
}


#Menu-Deco{
    margin-left: calc(100vw - 360px);
    left: 75.5%;
    width:360px;
    height: 360px;
    z-index: -1;
    opacity: 0.6;
    background-image: url(images/shape-9.png);
}

#Menu-Logo{
   margin-top: -200px;
   margin-left: calc(10px + 5vw);
    
}

#Menu-Name{
    color: hsl(38, 61%, 73%);
    font-size: 40px;
    font-family: 'DM-Sans';
    letter-spacing: 2px; 
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


#menu-selector-holder {
    padding: 10px;
    background-color: transparent;
    border-bottom: 3px solid #ddd;
    margin-top: 100px;
    z-index: 1000;
    width:fit-content; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 100px;
}


.menu-selector, .separator {
font-size: calc(0px + 3vw); 
font-family: 'Times New Roman', Times, serif;
color: white;
cursor: pointer;
margin: 0 10px;
}

.separator {
cursor: default; /* Prevents the cursor from changing on slashes */
}

.menu-selector.selected {
color: gold;
}

#content{
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
    
    
}

.item-group{
    display: flex;
    gap: calc(30px + 5vw);
    justify-content: center;
    margin-bottom: -20px;
}

.item{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    width: calc(300px + 19vw);
    padding-top: 50px;

}

.separator2{
    height: 500px;
    border: 1px solid white ;
    background-color: white;
    margin-top: -150px;
    
}

.text-contents {
    font-family: 'DM Sans', sans-serif;
    padding-left: calc(5px + 2vw);
    margin-top: -20px;
    line-height: 1.2; /* Adjusted line height */
    width: 55%;
}

.text-contents h3 {
    font-size: calc(6px + 1vw);
    font-weight: 400;
    margin-bottom: 0px; /* Remove space below the heading */
}

.text-contents p {
    font-size: calc(6px + 0.527vw);
    margin-top: 10px;
    margin-bottom: 30px;
    color: #C1C1C1; /* Remove space above the paragraph */
    
}

.item img{
    width: calc(30px + 6.3vw);
    border-radius: 20px;
}
.name-and-price {
    display: flex;
    align-items: center; /* Aligns the elements vertically */
}

.price-line {
    margin-top: 27px;
    margin-left: 10px; /* Space from the dish name */
    white-space: nowrap; /* Keeps the line and price together */
    position: relative; /* For positioning the pseudo-element */
    flex-grow: 0.8; /* Allows the line to take available space */
    display: flex;
    align-items: center;
    font-size: 22px;
    color: hsl(38, 67%, 57%);
}

.price-line::before {
    content: '';
    flex-grow: 1; /* Allows the line to grow and fill the space */
    width: 10px;
    height: 5px;
    border: 2px solid #C1C1C1;
    background-color: transparent; /* Creates the horizontal line */
    margin-right: 10px; /* Space between the line and dollar sign */
}

#extension{
    position: absolute;
    bottom: -100;
    width: 100%;
    height: 100px;
    z-index: 1;
    ;
}

.text button{
    size: 30%;
    color: hsl(38, 61%, 73%);
    margin-top: 40px;
    width: 40%;
    height: calc(20px + 2vw);
    background-color: transparent;
    border: 3px solid hsl(38, 61%, 73%);
    letter-spacing: 1px;
    transition: 0.3s ease-in;
    cursor: pointer;
    
}

.text button:hover{
    color: black;
    background-color: hsl(38, 61%, 73%);
}

.menu-selector.active {
    color: hsl(38, 67%, 57%)
}

.hamburger-menu, .close-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 50px;
    z-index: 1001;
}
@media screen and (max-width: 576px) {
    .hamburger-menu {
        display: block; /* Show hamburger menu */
    }

    .navigation {
        position: fixed;
        top: 0;
        left: -100%; /* Start off-screen */
        width: 60%;
        height: 100%;
        background: black;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: left 0.3s;
        justify-content: start;
        padding-top: 20px;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1002;
    }
    .navigation a.active {
        color: hsl(38, 73%, 59%);
        font-weight: bolder; /* Active link color */
    }
    .logo-in-menu {
        display: block;
        margin-top: 60px;
        margin-left: 70px; /* Adjust as needed */
        width: 50%; 
        margin-bottom: 80px;/* Adjust size as needed */
    }

    .navigation a {
        padding: 10px 20px;
        margin: 5px 0;
        display: block;
        color: white;
        text-align: left;
        width: 70%;
        font-family: 'DM-Sans', sans-serif;
        letter-spacing: 2px;
    }
    .navigation a.active::after, .navigation a:hover::after {
        content: '';
        position: absolute;
        left: 18px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: hsl(38, 61%, 73%);
        box-shadow: 0 3px transparent;
    }
    
    /* Hover Styling for Non-active Links */
    .navigation a:not(.active):hover {
        color: hsla(38, 61%, 73%, 0.737); /* Hover color for non-active links */
        
    }
    
    /* Reset the ::after pseudo-element for non-active links */
    .navigation a:not(.active)::after {
        content: '';
        position: absolute;
        left: 18px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: hsl(38, 61%, 73%);
        box-shadow: 0 3px transparent;
    }
    
    /* Hover effect for the underline on non-active links */
    .navigation a:not(.active):hover::after {
        
        box-shadow: 0 3px transparent;
    }
    





    


    
    .Menu{
        overflow-x: hidden;
    }
    .Menu-container {
        margin-left: 20px;
        overflow-x: hidden;   
    }

    .dishoftheday {
        width: 80vw;
        height: 60vw;
        padding-left: 10px;
        overflow-x: hidden;
    }

    .dotd {
        overflow-x: hidden;
        display: block; /* Stack vertically */
    }

    .dotd .text {
        overflow-x: hidden;
        padding-left: 20px;
        width: 100%;
        margin-top: -80px; /* Adjust if needed */
    }

    .dotd .text h1 {
        font-size: 30px;
    }

    #Menu-Deco {
        margin-left: calc(100vw - 300px);
        width: 300px;
        height: 300px;
        margin-top: 100px;
    }

    #Menu-Logo {
        margin-top: -200px;
        margin-left: 0px; /* Adjusted */
    }

    #Menu-Name {
        font-size: 30px;
        margin-left: 45%;
        padding-top: 100px;
    }

    #content {
        overflow-x: hidden;
        width: 100%;
        min-height: min-content /* Adjust based on content height */
    }

    .item-group {
        display: block;
        margin-bottom: 0; /* Stack items vertically */
        
    }

    .item {
        width: 100%;
        height: auto;
        overflow: hidden;
        
    }

    .item img {
        width: 90px; /* Adjust as needed */
        /* Center the image */
    }

    .text-contents {
         overflow: hidden;
        width: 300px; /* Ensure text fits within the container */
        padding: 15px;
    }

    .text-contents h3 {
        font-size: 15px;
        padding-top: 25px;
    }

    .text-contents p {
        font-size: calc(5px + 0.9vw);
        overflow: hidden;
        
    }

    .dotd .text{
        width: 460px;
    }
    .separator2 {
        display: none; /* Hide if it causes layout issues */
    }

    #menu-selector-holder {
        position: relative;
        margin-bottom: 0; 
        margin-top: 0;
        
    }

    .price-line {
        margin-top: 40px;
    }

    #special{
        padding-bottom: 15px;
        font-size: 10px;
    }
    .text button {
        width: 50%;
        height: 60px;
    }
}


@media screen and (min-width: 576.1px) and (max-width: 768px) {
    .hamburger-menu {
        display: block; /* Show hamburger menu */
    }

    .navigation {
        position: fixed;
        top: 0;
        left: -100%; /* Start off-screen */
        width: 60%;
        height: 100%;
        background: black;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: left 0.3s;
        justify-content: start;
        padding-top: 20px;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1002;
    }
    .navigation a.active {
        color: hsl(38, 73%, 59%);
        font-weight: bolder; /* Active link color */
    }
    .logo-in-menu {
        display: block;
        margin-top: 60px;
        margin-left: 70px; /* Adjust as needed */
        width: 50%; 
        margin-bottom: 80px;/* Adjust size as needed */
    }

    .navigation a {
        padding: 10px 20px;
        margin: 5px 0;
        padding-left: 27px;
        display: block;
        color: white;
        text-align: left;
        width: 70%;
        font-family: 'DM-Sans', sans-serif;
        letter-spacing: 2px;
    }
    .navigation a.active::after, .navigation a:hover::after {
        content: '';
        position: absolute;
        left: 28px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: hsl(38, 61%, 73%);
        box-shadow: 0 3px transparent;
    }
    
    /* Hover Styling for Non-active Links */
    .navigation a:not(.active):hover {
        color: hsla(38, 61%, 73%, 0.737); /* Hover color for non-active links */
        
    }
    
    /* Reset the ::after pseudo-element for non-active links */
    .navigation a:not(.active)::after {
        content: '';
        position: absolute;
        left: 28px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: hsl(38, 61%, 73%);
        box-shadow: 0 3px transparent;
    }
    
    /* Hover effect for the underline on non-active links */
    .navigation a:not(.active):hover::after {
        
        box-shadow: 0 3px transparent;
    }
    

    


    .Menu-container {
        margin-left: 20px;
    }

    .dishoftheday {
        width: 40vw;
        height: 60vw;
        padding-left: 10px;
        
    }

    .dotd .text {
        margin-top: -80px;
        padding-left: 20px;
        width: 50%;
        
    }
    #special{
        padding-bottom: 10px;
    }

    .dotd .text h1 {
        font-size: 30px;
    }

    #Menu-Deco {
        margin-left: calc(100vw - 300px);
        width: 300px;
        height: 300px;
        margin-top: 100px;
        
    }

    #Menu-Name {
        font-size: 30px;
        margin-left: 45%;
        padding-top: 100px;
    }

    .item {
        width: calc(280px + 15vw);
    }

    .text-contents h3 {
        font-size: 15px;
    }
    .item-group{
        height: 200px;
        gap: 20px;
    }

    .text-contents p {
        font-size: calc(5px + 0.8vw);
    }

    .item img {
        width: 80px;
        height: 100px;
        padding-bottom: 40px;
    }

    .text button {
        width: 50%;
        height: 60px;
    }
    .Menu-Logo{
        margin-left: 0px;
    }
    .price-line {
        margin-top: 15px;
        
    }
    
}

/* Here is Our Chers.html css styling */


/* Here is Login/Sign up css*/
#login-signup {
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(images/footer-form-bg.png);
    color: white;
}
.signup-form h2{
    padding-left: 40%;
    padding-bottom: 50px;
}
.signup-form {
    max-width: 500px;
    margin: auto;
    padding: 60px;
    border: 4px solid hsl(38, 61%, 73%);
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.274);
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.form-group {
    position: relative;
    margin-bottom: 70px;
    flex-basis: 48%; /* Adjusts the width of each field */
}

.form-group.full-width {
    flex-basis: 100%;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    color: #c9c8c8;
    transition: all 0.3s ease;
    pointer-events: none;
}

.form-group input {
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: white;
    background-color: transparent;
}

.form-group input:focus {
    outline: none;
    border-bottom: 2px solid #333;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    font-size: 14px;
    color: 333;
    transform: translateY(-35px);
}

.signup-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #45a049;
}

.login-link {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    
}


/* Adjust the form group containing the file input and label */
.form-groups {
    /* If you have flex styles applied to form-group, remove them */
    /* and use display: block; instead */
    display: block;
    position: relative;
    margin-bottom: 20px;
}
/* Style the label to look like an input field */
.file-input-label {
    display: inline-block; /* Inline block to align with the preview */
    border-bottom: 2px solid #ccc;
    padding: 12px 0;
    color: #c2c1c1;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px; /* Match other input sizes */
    width: 100%; /* Adjust width to leave space for image preview */
}

/* Style for the image preview */
.image-preview {
    width: 230px; /* Adjust size as needed */
    height: 170px; /* Adjust size as needed */
    
    text-align: center;
    background-size: cover;
    background-position: center;
    border: 2px solid #cac8c8;
    display: inline-block; /* Inline block to align with the label */
     /* Aligns with the label */
    margin-left: 10px;
    position: absolute; /* Position absolute to place beside the label */
    right: 0; /* Align to the right side of the form-group */
    top: -140px; /* Adjust vertical position to align with the label */
}

/* ... Rest of your CSS ... */
.image-preview h1{
    padding-top: 40px;
}
.image-preview {
    /* ... existing styles ... */
    display: flex;
    justify-content: center;
    
    color: white; /* or any color you prefer */
}

.image-preview.has-image h1 {
    display: none;
}
